doctype html
html(lang=en)
    head
        title Adrian's Angular
        link(rel='stylesheet', href='public/css/bootstrap.min.css')
        
    body
        h1 Adrian's Angular
        ul#messages(class='list-group')
    
    
    script(src='/public/libs/angular.min.js')
    script(src='/public/libs/socket.io.js')
    script(src='/public/libs/jquery-1.11.3.min.js')
    script(type='text/javascript').
        var socket = io();
        socket.on('message-received', function(data) {
          $('#messages').append($("<li class='list-group-item'>" + data.hello + "</li>").hide().fadeIn());
        });
    
